In [139]:
# task 1 Question 2

In [1]:
m = []

In [8]:
for i in range(2000, 3201):
    if i % 7 == 0 and i % 5 != 0:
        m.append(i)

In [12]:
m

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3017,
 3024,
 3031,
 3038,
 3052,
 3059,
 3066,
 3073,
 3087,
 3094,
 3101,
 3108,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3192,
 3199]

In [110]:
# task 1 Question 3

In [101]:
f = input("Please enter your first name: ")

Please enter your first name: Ayush

In [102]:
l = input("Please enter your last name: ")

Please enter your last name: Verma

In [105]:
fname = f[::-1] + ' ' + l[::-1]
print(fname)

hsuyA amreV

In [111]:
# task 1 Question 4

In [98]:
import math

V = ((4/3)*math.pi*(6**3))

V

904.7786842338603

In [108]:
# task 2 Question 1

In [75]:
m = input()

4,5,32,7,65,9,56,34,10

In [78]:
n = m.split(',')
list(n)

['4', '5', '32', '7', '65', '9', '56', '34', '10']

In [112]:
# task 2 Question 2

In [135]:
for i in range(5):
    for j in range(0,i):
        print('*', end = ' ')
    print("\r")
for i in range(5,0,-1):
    for j in range(i):
        print('*', end = ' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [107]:
# task 2 Question 3

In [65]:
sw = input("Enter any word to get in reverse: ")

sw[::-1]

Enter any word to get in reverse: AcadGild

'dliGdacA'

In [106]:
# task 2 Question 4

In [94]:
print("WE,THE PEOPLE OF INDIA")
print('\t having solemnly resolved to consitute india into a SOVEREIGN,!')
print('''\t\tSOCIALIST,SECULAR,DEMOCRATIC REPUBLIC
         \t and to secure to all its citizens''')

WE,THE PEOPLE OF INDIA
	 having solemnly resolved to consitute india into a SOVEREIGN,!
		SOCIALIST,SECULAR,DEMOCRATIC REPUBLIC
         	 and to secure to all its citizens